{% extends "base/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load leaflet_tags %}

{% block css %}

    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    {% if form.m2m_fields %}
        <link rel="stylesheet" href="{% static 'Admin/vendor/bootstrap-duallistbox/bootstrap-duallistbox.min.css' %}">
    {% endif %}

    {% if form.search_fields %}
        <link rel="stylesheet" href="{% static 'Admin/css/plugins/select2/select2.min.css' %}">
    {% endif %}

    <style type="text/css">
        #gis {width: 80%;height:500px;}
    </style>

{% endblock %}

{% block content %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}">
<style>.calendar>table>caption{caption-side:unset}</style><!--caption fix for bootstrap4-->

{{ form.media }}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="box-title">Actualizar Veterinaria</h5>
                </div>
                <div class="ibox-content">
                    <form action="" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                        <div class="box-body">
                            {% csrf_token %}

                            {% bootstrap_field form.nombre %}

                            {% bootstrap_field form.servicios %}

                            {% bootstrap_field form.telefono %}

                            {% bootstrap_field form.direccion %}

                            {% bootstrap_field form.comuna %}

                            {% bootstrap_field form.imagen %}

                            {% bootstrap_field form.geom %}

                            <br><br>

                            <div class="box-footer">
                                <a href="{{ back_url }}" data-toggle="tooltip" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
                                    Volver al listado
                                </a>
                                <div class="pull-right">
                                    <button class="btn btn-success">
                                        <i class="glyphicon glyphicon-floppy-saved"></i> Actualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block after_content %}
    {% if form.m2m_fields %}
        <script src="{% static 'Admin/vendor/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
        <script>
            $('{{ form.m2m_fields|join:',' }}').bootstrapDualListbox({});
        </script>
    {% endif %}

    {% if form.search_fields %}
        <script src="{% static 'Admin/js/plugins/select2/select2.full.min.js' %}"></script>
        <script>
            $('{{ form.search_fields|join:',' }}').select2({width: '100%'});
        </script>
    {% endif %}
{% endblock %}