{% extends "account/base_with_footer.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head_title %}Iniciar Sesion{% endblock %}

{% block content %}
    <div>
        <!--
        <div class="logos">
            <img src="{% static 'img/' %}" class="" alt="" width="300px" height="150px">
        </div>
        --!>
        <div>
            <h2 class="logo-name text-center">HAPP</h2>
        </div>
        <h2 class="text-center">Bienvenido</h2>
        <h4 class="text-center">Huellitas APP</h4>
        <form class="m-t" method="POST" action="{% url 'account_login' %}" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.login show_label=False bound_css_class='' %}
            {% bootstrap_field form.password show_label=False bound_css_class='' %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-primary block full-width m-b">Iniciar Sesion</button>
{#            <a href="{% url 'password_reset' %}"><small>Olvide mi Contraseña</small></a>#}
        </form>

        <p class="m-t">
            <small>INACAP &copy; {% now "Y" %}</small>
        </p>
    </div>
{% endblock %}
