{% extends "base/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-lg-6">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right" name="action">Cambiar Contraseña</button>
        {% endbuttons %}
    </form>
{% endblock %}
