{% load menu %}{% generate_menu %}
{% load staticfiles %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">{{ request.user.username }}</strong></span>
                            <span class="text-muted text-xs block">
                                {% if request.user.is_superuser %}
                                    Administrador
                                {% endif %}
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>

                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <li>
                                <a href="/admin/" target="_blank">
                                    <i class="fa fa-cog"></i> Administrar
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'account_change_password' %}">
                                <i class="fa fa-key"></i>
                                Cambiar contraseña
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                <i class="fa fa-sign-in"></i>
                                Cerrar Sesion
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="logo-element">HAPP+</div>
            </li>

            {% for item in menus.main %}
                {% if item.visible %}
                    <li class="">
                        <a href="{{ item.url }}">
                            <i class="{{ item.icon }}"></i> <span class="nav-label">{{ item.title }}</span>
                            {% if item.children %}
                                <span class="fa arrow"></span>
                            {% endif %}
                        </a>
                        {% if item.children %}
                            <ul class="nav nav-second-level collapse">
                                {% for item in item.children %}
                                    {% if item.visible %}
                                        <li class="separator">
                                            <a href="{{ item.url }}" id="{{ item.el_id }}">
                                                <i class="{{ item.icon }}"></i> {{ item.title }}
                                                {% if item.grandchild %}
                                                    <span class="fa arrow"></span>
                                                {% endif %}
                                            </a>
                                            {% if item.grandchild %}
                                                <ul class="nav nav-third-level collapse">
                                                    {% for item in item.grandchild %}
                                                        {% if item.visible %}
                                                            <li class="separator">
                                                                <a href="{{ item.url }}" id="{{ item.el_id }}">
                                                                    <i class="{{ item.icon }}"></i> {{ item.title }}
                                                                    {% if item.grandchild %}
                                                                        <span class="fa arrow"></span>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                            {% if item.separator %}
                                                                <li class="nav-divider"></li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                        {% if item.separator %}
                                            <li class="nav-divider"></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
