{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% load leaflet_tags %}

{% block content %}

<head content="width=device-width">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HuellitasAPP</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'Vet/img/favicon.png' %}" rel="icon">
    <link href="{% static 'Vet/img/favicon.png' %}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'Admin/font-awesome/font-awesome.css' %}" rel="stylesheet">

    <script src="{% static 'Admin/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap.js' %}"></script>
    <link href="{% static 'Vet/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'Vet/vendor/aos/aos.css' %}" rel="stylesheet">

    <link href="{% static 'Admin/font-awesome/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'Admin/dist/L.Control.Locate.min.css' %}" rel="stylesheet">
    <script src="{% static 'Admin/dist/L.Control.Locate.min.js' %}"></script>

    <link href="{% static 'Admin/src/Control.FullScreen.css' %}" rel="stylesheet">
    <script src="{% static 'Admin/src/Control.FullScreen.js' %} "></script>

    <link href="{% static 'Admin/dist/leaflet.ajax.js' %}" rel="stylesheet">
    <script src="{% static 'Admin/dist/leaflet.ajax.js' %}"></script>
    <link href="{% static 'Admin/src/leaflet.groupedlayercontrol.css' %}" rel="stylesheet">
    <script src="{% static 'Admin/src/leaflet.groupedlayercontrol.js' %}"></script>

    <script src="{% static 'Admin/src/leaflet-search.js' %}"></script>
    <link href="{% static 'Admin/src/leaflet-search.css' %}" rel="stylesheet"/>

    <script src="{% static 'Admin/src/L.Control.MousePosition.js' %}"></script>
    <link href="{% static 'Admin/src/L.Control.MousePosition.css' %}" rel="stylesheet"/>

    <script src="{% static 'Admin/src/L.Control.Sidebar.js' %}"></script>
    <link href="{% static 'Admin/src/L.Control.Sidebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'Admin/src/L.Control.Sidebar.scss' %}" rel="stylesheet"/>

    <script src="{% static 'Admin/src/leaflet.filelayer.js' %}"></script>

    <script type="text/javascript" src="{% static 'Admin/src/L.Graticule.js' %}"></script>


    <!-- Leaflet Plugins -->
    <link href="{% static 'leaflet/leaflet.extras.js' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Admin/src/Control.MiniMap.css' %}"/>
    <script src="{% static 'Admin/src/Control.MiniMap.js' %}" type="text/javascript"></script>
    <script src="{% static 'Admin/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap.js' %}"></script>
    <script src="{% static 'Vet/leaflet-search-master/src/leaflet-search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Vet/leaflet-search-master/src/leaflet-search.css' %}" />

    <!-- Template Main CSS File -->
    <link href="{% static 'Vet/css/style.css' %}" rel="stylesheet">

    {{ form.media }}
    {% block vendor %}{% endblock %}
    {% block css %}{% endblock %}

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex fixed-top " content="width=device-width">
    <div class="pull-right d-flex">
        <strong>
            <h2 class="nav navbar-right" id="reloj"></h2>
        </strong>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <div class="pull-left d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-phone"></i> +569 xxxxxxxx
            <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Servicio de Información 24/7</span>
        </div>
    </div>
</div>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="full-width" content="width=device-width">

            <nav class="nav-menu d-none d-lg-block" content="width=device-width">
                <ul>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggle-icon"></span>
                    </button>

                    <img src="{% static 'Vet/img/favicon.png' %}" width="100px" height="100px">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <li class="active"><a href="{% url 'home:home' %}">Inicio</a></li>
                    <li><a href="#about">Acerca de nosotros</a></li>
                    <li><a href="#veterinarias">Veterinarias</a></li>
                    <li><a href="#menu">Mascotas</a></li>
                    <li><a href="#gallery">Galería</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="#adoption">Adopta</a></li>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p></p>

                    <li class="veterinarias text-center"><a href="#mapa">Mapa</a></li>

                    {% if user.is_anonymous %}
                        <li class="veterinarias text-right"><a href="{% url 'account_login' %}">Inicia Sesión</a></li>
                        <li>ó</li>
                        <li class="veterinarias text-right"><a href="{% url 'account_signup' %}">Regístrate</a></li>
                    {% else %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <div class="dropdown profile-element fa-pull-right div-actions">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{ request.user.username }}</strong>
                        </span>
                            <span class="text-muted text-xs block">
                                {% if request.user.is_superuser %}
                                    Administrador
                                {% endif %}
                                <b class="caret"></b>
                            </span>
                    </span>
                            </a>
                        <nav class="nav-minimenu">
                            <ul class="dropdown-menu animated fadeInRight m-t-lg">
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <li>
                                        <a href="{% url 'home:home2' %}" target="">
                                            <i class="glyphicon glyphicon-cog"></i> Administrar
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'home:home2' %}" target="">
                                            <i class="glyphicon glyphicon-cog"></i> Ver tus Datos
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'account_change_password' %}">
                                        <i class="glyphicon glyphicon-lock"></i>
                                        Cambiar contraseña
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'account_logout' %}">
                                        <i class="glyphicon glyphicon-off"></i>
                                        Cerrar Sesion
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        </div>
                    {% endif %}
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100"
         content="width=device-width">
    <br><br><br><br><br><br>
        <div class="row">
            <div class="col-lg-8">
                {% if request.user.is_authenticated %}
                <h1>Bienvenid@  {{ request.user.username }} </h1>
                {% else %}
                <h1>Bienvenid@</h1>
                {% endif %}
                <h2>HuellitasAPP es un sitio pensado para adoptar y buscar animalitos perdidos</h2>

                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Mascotas</a>
                    <a href="#veterinarias" class="btn-book animated fadeInUp scrollto">Veterinarias</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in"
                 data-aos-delay="200">
            </div>

        </div>
            <!-- ======= Cuidados Section ======= -->

            <div class="container" data-aos="fade-up">

                <div class="section-title text-center">
                    <p>Cuidados y Recomendaciones</p>
                </div>

                <div class="owl-carousel cuidados-carousel col-lg-12" data-aos="zoom-in" data-aos-delay="100">
                    {% for cuidado in cuidados %}
                    <div class="cuidado-item col-lg-12">
                        <div class="section-title text-center">
                            <h3>{{ cuidado.nombre }}</h3>
                        </div>
                        <p>
                            <a class="animated fadeInUp scrollto">
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ cuidado.descripcion }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <h3>Somos una organización sin fines de lucro que está a la disposición de la ciudadanía y las mascotas.</h3>
                    <p class="font-italic">
                        Nuestra idea es entregar un servicio lo mas completo posible dedicado a las mascotas del hogar y a personas
                        que quieran adoptar un nuevo integrante a su familia.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Buscador de mascotas disponibles para adopción.</li>
                        <li><i class="icofont-check-circled"></i> Puedes solicitar que se publique información de tu mascota perdida.
                        </li>
                        <li><i class="icofont-check-circled"></i> Puedes ver las veterinarias disponibles, horarios y teléfonos de las mismas.
                        </li>
                    </ul>
                    <h3 class="fadeOutLeft text-center">HuellitasApp para tus proximas mascotas y mas...</h3>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="{% static 'Vet/img/favicon.png' %}" width="200px" height="200px"/>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

                <!-- ======= Veterinarias Section ======= -->
        <section id="veterinarias" class="veterinaria section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Veterinarias</h2>
                    <p>Veterinarias disponibles</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="veterinaria-flters">
                        </ul>
                    </div>
                </div>
                <div class="row veterinaria-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                    {% for veterinaria in veterinarias %}
                        <div class="col-lg-3 menu-item filter-veterinaria btn-menu animated fadeInUp scrollto"  style="background: #5a6268">
                            <img src="{{ veterinaria.imagen.url }}" class="menu-img" alt="{{ veterinaria.nombre }}">
                            <a class="menu-content">{{ veterinaria.nombre }}</a>
                            <br>
                            <a class="menu-content">{{ veterinaria.telefono }}</a>
                            <br>
                            <a class="menu-content">{{ veterinaria.direccion }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br>
        </section><!-- End Veterinarias Section -->

        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Mascotas</h2>
                    <p>Mira las mascotas disponibles para adoptar</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" href="" class="filter-active">Todo</li>
                            <li data-filter=".filter-perros">Perros</li>
                            <li data-filter=".filter-gatos">Gatos</li>
                            <li data-filter=".filter-reptiles">Reptiles</li>
                            <li data-filter=".filter-aves">Aves</li>
                            <li data-filter=".filter-peces">Peces</li>
                            <li data-filter=".filter-aranhas">Arañas</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="100">
                    <!-- Perritos -->
                    <div class="row" id="lista-mascotas">
                    {% for perro in perros %}
                        <div class="col-lg-3 menu-item filter-perros">
                            <img src="{{ perro.foto_perfil.url }}" class="menu-img" alt="{{ perro.nombre }}">
                            <a class="menu-content">Nombre: {{ perro.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ perro.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ perro.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ perro.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ perro.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ perro.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                    </div>

                    <!-- Gatitos -->

                    {% for gato in gatos %}
                        <div class="col-lg-3 menu-item filter-gatos">
                            <img src="{{ gato.foto_perfil.url }}" class="menu-img" alt="{{ gato.nombre }}">
                            <a class="menu-content">Nombre: {{ gato.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ gato.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ gato.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ gato.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ gato.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ gato.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Reptiles -->
                    {% for reptil in reptiles %}
                        <div class="col-lg-3 menu-item filter-reptiles">
                            <img src="{{ reptil.foto_perfil.url }}" class="menu-img" alt="{{ reptil.nombre }}">
                            <a class="menu-content">Nombre: {{ reptil.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ reptil.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ reptil.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ reptil.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ reptil.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ reptil.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Aves -->

                    {% for ave in aves %}
                        <div class="col-lg-3 menu-item filter-aves">
                            <img src="{{ ave.foto_perfil.url }}" class="menu-img" alt="{{ ave.nombre }}">
                            <a class="menu-content">Nombre: {{ ave.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ ave.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ ave.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ ave.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ ave.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ ave.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Peces -->

                    {% for pez in peces %}
                        <div class="col-lg-3 menu-item filter-peces">
                            <img src="{{ pez.foto_perfil.url }}" class="menu-img" alt="{{ pez.nombre }}">
                            <a class="menu-content">Nombre: {{ pez.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ pez.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ pez.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ pez.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ pez.peso }} gr
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ pez.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Arañas -->
                    {% for aranha in aranhas %}
                        <div class="col-lg-3 menu-item filter-aranhas">
                            <img src="{{ aranha.foto_perfil.url }}" class="menu-img" alt="{{ aranha.nombre }}">
                            <a class="menu-content">Nombre: {{ aranha.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ aranha.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ aranha.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ aranha.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ aranha.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ aranha.esterilizado }}
                            </div>
                            <br>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Menu Section -->

        <!-- ======= Encontradas/Buscadas Section ======= -->
        <section id="adoptar" class="adoptar section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Mascotas Encontradas o Buscadas</h2>
                    <p>Mascotas Encontradas o Buscadas</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="adoptar-flters">
                            <li data-filter="*" href="" class="filter-active">Todo</li>
                            <li data-filter=".filter-encontrado">Mascotas Encontradas</li>
                            <li data-filter=".filter-buscado">Mascotas Buscadas</li>
                        </ul>
                    </div>
                </div>

                <div class="row adoptar-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                    <!-- Perdidos -->
                    {% for publicacion1 in publicaciones1 %}
                        <div class="col-lg-8 menu-item filter-encontrado">
                            <img src="{{ publicacion1.fotografia.url }}" class="menu-img" alt="{{ publicacion1.nombre }}">
                            <a class="menu-content">Nombre Mascota: {{ publicacion1.nombre_mascota }}</a>
                            <div class="menu-content">
                                Fecha del suceso: {{ publicacion1.fecha }}
                            </div>
                            <div class="menu-content">
                                Dirección del suceso: {{ publicacion1.direccion }}
                            </div>
                            <div class="menu-content">
                                Telefono: {{ publicacion1.telefono }}
                            </div>
                            <div class="menu-content">
                                Especie: {{ publicacion1.especie }}
                            </div>
                            <div class="menu-content">
                                Tamaño: {{ publicacion1.tamanho }}
                            </div>
                            <div class="menu-content">
                                Mensaje: {{ publicacion1.mensaje }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                    <!-- Buscados -->
                    {% for publicacion2 in publicaciones2 %}
                        <div class="col-lg-8 menu-item filter-buscado">
                            <img src="{{ publicacion2.fotografia.url }}" class="menu-img" alt="{{ publicacion2.nombre }}">
                            <a class="menu-content">Nombre Mascota: {{ publicacion2.nombre_mascota }}</a>
                            <div class="menu-content">
                                Fecha del suceso: {{ publicacion2.fecha }}
                            </div>
                            <div class="menu-content">
                                Dirección del suceso: {{ publicacion2.direccion }}
                            </div>
                            <div class="menu-content">
                                Telefono: {{ publicacion2.telefono }}
                            </div>
                            <div class="menu-content">
                                Especie: {{ publicacion2.especie }}
                            </div>
                            <div class="menu-content">
                                Tamaño: {{ publicacion2.tamanho }}
                            </div>
                            <div class="menu-content">
                                Microchip: {{ publicacion2.microchip }}
                            </div>
                            <div class="menu-content">
                                Mensaje: {{ publicacion2.mensaje }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section><!-- End Menu Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Galería</h2>
                    <p>Algunas fotos de las lindas mascotas</p>
                </div>
                <div class="owl-carousel cuidados-carousel" data-aos-delay="100">
                    {% for galeria in galerias %}
                        <div class="cuidado-item">
                            <div class="gallery-item">
                                <div class="venobox" data-gall="gallery-item">
                                    <img src="{{ galeria.imagen.url }}" alt="{{ galeria.id }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Gallery Section -->

{% include "base/_notifications.html" %}

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container-fluid" data-aos="fade-up">
                {% if user.is_anonymous %}
                <div class="section-title text-center">
                    <h2>¿Buscas a tu mascota o encontraste una mascota perdida?</h2>
                    <p>Por favor inicia sesión o registrate</p>
                    <p></p>
                    <a href="{% url 'account_login' %}" data-toggle="tooltip"
                       class="btn btn-ttc col-lg-offset-2 col-lg-3">
                        <i class="glyphicon-send" aria-hidden="true"></i>
                        Inicia Sesión
                    </a>
                    <a class="veterinarias text-center">ó</a>
                    <a href="{% url 'signup' %}" data-toggle="tooltip"
                       class="btn btn-ttc col-lg-offset-2 col-lg-3">
                        <i class="glyphicon-send" aria-hidden="true"></i>
                        Registrate
                    </a>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Ubicación:</h4>
                                <p>Chillán</p>
                            </div>
                            <div class="open-hours">
                                <i class="icofont-clock-time icofont-rotate-90"></i>
                                <h4>Horario:</h4>
                                <p>
                                    Servicio de Información 24/7
                                </p>
                            </div>
                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>equipo@huellitasapp.com</p>
                            </div>
                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Llámanos:</h4>
                                <p>+569 xxxxxxxx</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                <div class="section-title text-center">
                    <h2>¿Buscas a tu mascota o encontraste una mascota perdida?</h2>
                    <p>Contáctanos</p>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Ubicación:</h4>
                                <p>Chillán</p>
                            </div>
                            <div class="open-hours">
                                <i class="icofont-clock-time icofont-rotate-90"></i>
                                <h4>Horario:</h4>
                                <p>
                                    Servicio de Información 24/7
                                </p>
                            </div>
                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>equipo@huellitasapp.com</p>
                            </div>
                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Llámanos:</h4>
                                <p>+569 xxxxxxxx</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content col-md-9 align-left">
                        <form action="" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                            <div class="box-body">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-3">{% bootstrap_field aform.nombre %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.nombre_mascota %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.telefono %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.direccion %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">{% bootstrap_field aform.fecha %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.email %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.microchip %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.servicio %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">{% bootstrap_field aform.especie %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.tamanho %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.sexo %}</div>
                                    <div class="col-md-3">{% bootstrap_field aform.fotografia %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{% bootstrap_field aform.mensaje %}</div>
                                </div>

                                <div class="box-footer full-width">
                                    <button class="btn btn-ttc full-width fa fa-send" type="submit"
                                            name="{{ aform.prefix }}">
                                        <span class="glyphicon glyphicon-inbox"></span>Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </section><!-- End Contact Section -->

        <!-- ======= Adoption Section ======= -->
        <section id="adoption" class="adoption">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center full-width" content="width=device-width">
                    <h2>¿Quieres adoptar?</h2>
                {% if user.is_anonymous %}
                    <p>Por favor inicia sesión o registrate</p>
                        <a href="{% url 'account_login' %}" data-toggle="tooltip"
                           class="btn btn-ttc col-lg-offset-2 col-lg-3">
                            <i class="glyphicon-send" aria-hidden="true"></i>
                            Inicia Sesión
                        </a>
                        <a class="veterinarias text-center">ó</a>
                        <a href="{% url 'signup' %}" data-toggle="tooltip"
                           class="btn btn-ttc col-lg-offset-2 col-lg-3">
                            <i class="glyphicon-send" aria-hidden="true"></i>
                            Registrate
                        </a>
                {% else %}
                    <p>Llena este formulario y te contactaremos</p>
                </div>

                <div class="row mt-3">

                    <!-- ======= Relleno Vacio zona izquierda ======= -->

                    <div class="col-lg-3">
                        <div class="info">
                            <div class="relleno">
                            </div>
                            <div class="relleno">
                            </div>
                            <div class="relleno">
                            </div>
                            <div class="relleno">
                            </div>
                        </div>
                    </div>
                    <!-- ======= Fin Relleno Vacio zona izquierda ======= -->

                    <div class="ibox-content col-md-9 align-right">
                        <form action="" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                            <div class="box-body">

                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-3">{% bootstrap_field bform.mascota %}</div>
                                    <div class="col-md-3">{% bootstrap_field bform.telefono %}</div>
                                    <div class="col-md-3">{% bootstrap_field bform.direccion %}</div>
                                    <div class="col-md-3">{% bootstrap_field bform.email %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{% bootstrap_field bform.mensaje %}</div>
                                </div>

                                <div class="box-footer full-width">
                                    <button class="btn btn-ttc full-width fa fa-send" type="submit"
                                            name="{{ bform.prefix }}">
                                        <span class="glyphicon glyphicon-inbox"></span>Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </section><!-- End Adoption Section -->

    <section id="mapa" class="mapa">
    <div class="section-title text-center">
        <h2>Mapa</h2>
        <p>Mira las Veterinarias disponibles en el mapa</p>
    </div>
    <div class="col-lg-12" style="margin-left: 15px;">
        {% leaflet_js %}
        {% leaflet_css %}
        <style type="text/css">
            #gis {
                width: 98%;
                height: 100px
            }
        </style>

            <script type="text/javascript">
                function our_layers(map, options) {

                    var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="https://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                    });

                    var Grayscale = L.tileLayer('https://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    });

                    var Streets = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    });

                    var WorlImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                    });

                    var datasets = new L.GeoJSON.AJAX("{{ datasets_url_vet_home }}", {
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup("<strong> " + "Veterinarias" + "</strong>"
                                + "<br/>" + "Nombre: " + feature.properties.nombre
                                + "<br/>" + "Telefono: " + feature.properties.telefono
                                + "<br/>" + "Direccion: " + feature.properties.direccion
                                + "<br/>" + "Comuna: " + feature.properties.comuna);
                        }
                    });
                    datasets.addTo(map);

                    var searchControl = new L.Control.Search({
                        layer: datasets,
                        propertyName: 'nombre',
                        circleLocation: true
                    });
                    searchControl.on('search_locationfound', function(e) {
                    e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
                    })
                    map.addControl(searchControl);

                    var baseLayers = {
                        "Mapa Topografico": OpenTopoMap,
                        "Mapa en Escala de Grises": Grayscale,
                        "Mapa de Calles": Streets,
                        "Mapa Normal": WorlImagery
                    };

                    var groupedOverlays = {
                        "Layers": {
                            "Mapa Veterinarias": datasets
                        }
                    };

                    L.graticule({
                        style: {
                            color: '#000',
                            weight: 0.2,
                            opacity: 1,
                            fillColor: '#000',
                            fillOpacity: 1
                        }
                    }).addTo(map);


                    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                    var osm = new L.TileLayer(osmUrl, {minZoom: 6, maxZoom: 18});
                    map.addLayer(osm);

                    var osm2 = new L.TileLayer(osmUrl, {minZoom: 0, maxZoom: 13});
                    var miniMap = new L.Control.MiniMap(osm2, {toggleDisplay: true}).addTo(map);

                    L.control.mousePosition({
                        position: 'topright', //Posicion del localizador
                        separator: '  ||  ', //Separador de Latitud y Longitud
                        emptystring: 'No iniciado', //Leyenda inicial
                        prefix: 'Posicion del Mouse: ' //Leyenda de uso
                    }).addTo(map);
                    L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
                    L.control.fullscreen({
                        fullscreenControl: true,
                        fullscreenControlOptions: {
                            position: 'topleft'
                        }
                    }).addTo(map);
                }
            </script>
        {% leaflet_map "gis" callback="window.our_layers" %}
    </div>
    <br>
    <br>
    </section>

    </main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="col-lg-12 col-md-12 footer-top">
        <div class="container-fluid">
            <div class="row text-xl-left">

                <div class="col-lg-3 col-md-3">
                    <div class="footer-info">
                        <img src="{% static 'Vet/img/favicon.png' %}" width="200px" height="158px">
                        <p>
                            <br>
                            Chillán, Chile<br><br>
                            <strong>Teléfono:</strong> +569xxxxxxxx<br>
                            <strong>Email:</strong> equipo@huellitasapp.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">Acerca de nosotros</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#veterinarias">Veterinarias</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#menu">Mascotas</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Galeria</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contacto</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#adoption">Adoptar</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#mapa">Mapa</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Otros Servicios</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño Web</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño Grafico</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3" data-aos="zoom-in" data-aos-delay="100">
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>HuellitasApp</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            Diseñado por Alejandro
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'Vet/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'Vet/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'Vet/vendor/aos/aos.js' %}"></script>

    <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'Admin/js/inspinia.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap-dialog.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/toastr/toastr.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'Vet/js/main.js' %}"></script>

    <script src="{% static 'Vet/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'Vet/js/popper.min.js' %}"></script>

</body>

{% endblock %}

<script>
    $(function () {
        var activePage = stripTrailingSlash(window.location.pathname);

        function stripTrailingSlash(str) {
            if (str.substr(-1) == '/') {
                return str.substr(0, str.length - 1);
            }

            return str;
        }

        var pageActivated = false;

        $('.nav li a').each(function () {
            var currentPage = stripTrailingSlash($(this).attr('href'));

            if (activePage == currentPage) {
                $(this).parent().addClass('active');

                $(this).parent().parent().parent().parent().addClass('in');
                $(this).parent().parent().parent().parent().parent().addClass('active')

                var ul = $(this).closest('ul.collapse');
                if (ul) {
                    $(ul).addClass('in');
                    $(ul).closest('li').addClass('active');
                    pageActivated = true;
                }
            }
        });

        if (!pageActivated) {
            $('.nav li a').each(function () {
                var currentPage = stripTrailingSlash($(this).attr('href'));

                if (activePage.indexOf(currentPage) !== -1) {
                    $(this).addClass('active');
                    var ul = $(this).closest('ul.collapse');

                    if (ul) {
                        $(ul).addClass('in');
                        $(ul).closest('li').addClass('active');
                    }
                }
            });
        }
    });
</script>

<script>
    function muestraReloj() {
        var fechaHora = new Date();
        var horas = fechaHora.getHours();
        var minutos = fechaHora.getMinutes();
        var segundos = fechaHora.getSeconds();

        if (horas < 10) {
            horas = '0' + horas;
        }
        if (minutos < 10) {
            minutos = '0' + minutos;
        }
        if (segundos < 10) {
            segundos = '0' + segundos;
        }
        document.getElementById("reloj").innerHTML = horas + ':' + minutos + ':' + segundos;
    }

    window.onload = function () {
        setInterval(muestraReloj, 1);
    }
</script>
