{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}
    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-lg-10">
            <h2>Inicio</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Inicio</strong>
                </li>
                <li></li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-t-lg">
                <h1><strong>HuellitasAPP</strong></h1>
                <h2>Sistema de Información de Adopciones</h2>
            </div>
            <!--
            <div class="container-fluid align=center">
                <img src="{% static '' %}" class="inline-block" width="1620px" height="680px">
            </div>
            -->
        </div>
    </div>

    <footer class="fixed-bottom">
        <div class="container-fluid align=center">
        </div>
    </footer>
{% endblock %}
