{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}

    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-lg-10">
            <h2>Inicio</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Inicio</strong>
                </li>
                <li></li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-t-lg">
                <h1><strong>HuellitasAPP</strong></h1>
                <h2>Sistema de Información de Adopciones</h2>
            </div>
        </div>
    </div>

    {% if request.user.is_superuser or request.user.is_staff %}

    <script src="{% static 'Vet/Highcharts-8.2.2/code/highcharts.js' %}"></script>
    <script src="{% static 'Vet/Highcharts-8.2.2/code/modules/exporting.js' %}"></script>
    <script src="{% static 'Vet/Highcharts-8.2.2/code/modules/export-data.js' %}"></script>
    <script src="{% static 'Vet/Highcharts-8.2.2/code/modules/accessibility.js' %}"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Gráfico identificador de los tipos de mascotas registrados en HuellitasAPP.
        </p>
    </figure>

    <script type="application/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Mascotas Disponibles'
            },
            subtitle: {
                text: 'Source: HuellitasAPP'
            },
            xAxis: {
                categories: [
                    'Mascotas disponibles para adopción'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cantidad</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    borderWidth: 0
                }
            },
            series: [{
                color: 'red',
                name: '{{ perros }}',
                data: {{ estadistica1|safe }}
            },{
                color: 'violet',
                name: '{{ gatos }}',
                data: {{ estadistica2|safe }}
            }, {
                color: 'green',
                name: '{{ reptiles }}',
                data: {{ estadistica3|safe }}
            }, {
                color: 'grey',
                name: '{{ aves }}',
                data: {{ estadistica4|safe }}
            }, {
                color: 'blue',
                name: '{{ peces }}',
                data: {{ estadistica5|safe }}
            }, {
                color: 'brown',
                name: '{{ aranhas }}',
                data: {{ estadistica6|safe }}
            }]
        });
    </script>

    <figure class="highcharts-figure">
        <div id="container1"></div>
        <p class="highcharts-description">
            Gráfico identificador de las mascotas adoptadas en HuellitasAPP.
        </p>
    </figure>

    <script type="application/javascript">
        Highcharts.chart('container1', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Mascotas Adoptadas'
            },
            subtitle: {
                text: 'Source: HuellitasAPP'
            },
            xAxis: {
                categories: [
                    'Mascotas Adoptadas'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} Cantidad</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    borderWidth: 0
                }
            },
            series: [{
                color: 'red',
                name: '{{ perros_adoptados }}',
                data: {{ estadistica1_adoptados|safe }}
            },{
                color: 'violet',
                name: '{{ gatos_adoptados }}',
                data: {{ estadistica2_adoptados|safe }}
            }, {
                color: 'green',
                name: '{{ reptiles_adoptados }}',
                data: {{ estadistica3_adoptados|safe }}
            }, {
                color: 'grey',
                name: '{{ aves_adoptados }}',
                data: {{ estadistica4_adoptados|safe }}
            }, {
                color: 'blue',
                name: '{{ peces_adoptados }}',
                data: {{ estadistica5_adoptados|safe }}
            }, {
                color: 'brown',
                name: '{{ aranhas_adoptados }}',
                data: {{ estadistica6_adoptados|safe }}
            }]
        });
    </script>

    {% else %}

        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-t-lg">
                <h2>Mascotas Adoptadas por {{ request.user.username }}</h2>
                </div>
            </div>
        </div>
        <br><br><br>
        <section id="testimonials" class="testimonials section-bg">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="100">
                    <!-- Perritos -->
                    <div class="row" id="lista-mascotas">
                    {% for perro_adopte in perros_adopte %}
                        <div class="menu-item filter-perros">
                            <img src="{{ perro_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ perro_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ perro_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ perro_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ perro_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ perro_adopte.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ perro_adopte.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                    </div>

                    <!-- Gatitos -->

                    {% for gato_adopte in gatos_adopte %}
                        <div class="col-lg-3 menu-item filter-gatos">
                            <img src="{{ gato_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ gato_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ gato_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ gato_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ gato_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ gato_adopte.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ gato_adopte.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Reptiles -->
                    {% for reptil_adopte in reptiles_adopte %}
                        <div class="col-lg-3 menu-item filter-reptiles">
                            <img src="{{ reptil_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ reptil_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ reptil_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ reptil_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ reptil_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ reptil_adopte.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ reptil_adopte.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Aves -->

                    {% for ave_adopte in aves_adopte %}
                        <div class="col-lg-3 menu-item filter-aves">
                            <img src="{{ ave_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ ave_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ ave_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ ave_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ ave_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ ave_adopte.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ ave_adopte.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Peces -->

                    {% for pez_adopte in peces_adopte %}
                        <div class="col-lg-3 menu-item filter-peces">
                            <img src="{{ pez_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ pez_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ pez_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ pez_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ pez_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ pez_adopte.peso }} gr
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ pez_adopte.esterilizado }}
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Arañas -->
                    {% for aranha_adopte in aranhas_adopte %}
                        <div class="col-lg-3 menu-item filter-aranhas">
                            <img src="{{ aranha_adopte.foto_perfil.url }}" style="height: 90%; width: 90%" class="menu-img" alt="">
                            <a class="menu-content">Nombre: {{ aranha_adopte.nombre }}</a>
                            <div class="menu-especie">
                                Especie: {{ aranha_adopte.especie }}
                            </div>
                            <div class="menu-sexo">
                                Sexo: {{ aranha_adopte.sexo }}
                            </div>
                            <div class="menu-tamanho">
                                Tamaño: {{ aranha_adopte.tamanho }}
                            </div>
                            <div class="menu-peso">
                                Peso: {{ aranha_adopte.peso }}
                            </div>
                            <div class="menu-esterilizado">
                                Esterilizado: {{ aranha_adopte.esterilizado }}
                            </div>
                            <br>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
    <footer class="fixed-bottom">
        <div class="container-fluid align=center">
            <div class="row">
            </div>
        </div>
    </footer>
{% endblock %}
