{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
 
    <head content="width=device-width">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>HuellitasAPP</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'Vet/img/favicon.png' %}" rel="icon">
        <link href="{% static 'Vet/img/favicon.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'Vet/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/venobox/venobox.css' %}" rel="stylesheet">
        <link href="{% static 'Vet/vendor/aos/aos.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'Vet/css/style.css' %}" rel="stylesheet">

    </head>

    <body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex fixed-top " content="width=device-width">
        <div class="pull-right d-flex">
            <strong>
                <h3 class="nav navbar-right" id="reloj"></h3>
            </strong>
        </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div class="pull-left d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-phone"></i> +569 xxxxxxxx
                <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Servicio de Información 24/7</span>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="full-width" content="width=device-width">

            <nav class="nav-menu d-none d-lg-block" content="width=device-width">
                <ul>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggle-icon">></span>
                    </button>

                    <img src="{% static 'Vet/img/favicon.png' %}" width="150px" height="150px">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <li class="active"><a href="{% url 'home:user_home' %}">Inicio</a></li>
                    <li><a href="#about">Acerca de nosotros</a></li>
                    <li><a href="#menu">Servicios</a></li>
                    <li><a href="#gallery">Galería</a></li>
                    <li><a href="#cuidados">Equipo</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li class="veterinarias text-center"><a href="#veterinarias">Veterinarias</a></li>

                    {% if user.is_anonymous %}
                        <li class="veterinarias text-right"><a href="{% url 'account_login' %}">Inicia Sesión</a></li>
                        <li>ó</li>
                        <li class="veterinarias text-right"><a href="{% url 'account_signup' %}">Regístrate</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <div class="dropdown profile-element fa-pull-right div-actions">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{ request.user.username }}</strong>
                        </span>
                            <span class="text-muted text-xs block">
                                {% if request.user.is_superuser %}
                                    Administrador
                                {% endif %}
                                <b class="caret"></b>
                            </span>
                    </span>
                            </a>
                        <nav class="nav-minimenu">
                            <ul class="dropdown-menu animated fadeInRight m-t-lg">
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <li>
                                        <a href="{% url 'home:home2' %}" target="">
                                            <i class="glyphicon glyphicon-cog"></i> Administrar
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'main:animal_list' %}" target="">
                                            <i class="glyphicon glyphicon-eye-open"></i> Ver Mascotas
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'account_change_password' %}">
                                        <i class="glyphicon glyphicon-lock"></i>
                                        Cambiar contraseña
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'account_logout' %}">
                                        <i class="glyphicon glyphicon-off"></i>
                                        Cerrar Sesion
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        </div>
                    {% endif %}
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Bienvenid@ {{ request.user.username }} </h1>
                    <h2>HuellitasAPP es un sitio pensado para adoptar y buscar animalitos perdidos</h2>

                    <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Servicios</a>
                    <a href="#veterinarias" class="btn-book animated fadeInUp scrollto">Mascotas</a>
                </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in"
                     data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=ketJn_9aldQ" class="venobox play-btn" data-vbtype="video"
                       data-autoplay="true"></a>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row col-lg-12">
                    <div class="col-lg-6 order-1 order-lg-3 pull-left">
                        <h3>Somos una organización sin fines de lucro que está a la disposición de la ciudadanía y las mascotas.</h3>
                    <p class="font-italic">
                        Nuestra idea es entregar un servicio lo mas completo posible dedicado a las mascotas del hogar y a personas
                        que quieran adoptar un nuevo integrante a su familia.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Buscador de mascotas disponibles para adopción.</li>
                        <li><i class="icofont-check-circled"></i> Puedes solicitar que se publique información de tu mascota perdida.
                        </li>
                        <li><i class="icofont-check-circled"></i> Puedes ver las veterinarias disponibles, horarios y teléfonos de las mismas.
                        </li>
                    </ul>
                        <h3 class="fadeOutLeft text-center">HuellitasApp para tus proximas mascotas y mas...</h3>

                    </div>
                    <div class="col-lg-6 order-2 order-lg-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="{% static 'Vet/img/favicon.png' %}" alt="">
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

                <!-- ======= Veterinarias Section ======= -->
        <section id="veterinarias" class="veterinarias">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Veterinarias</h2>
                </div>

                <div class="row" id="lista-productos">
                    <div class="col-lg-12" style="margin-left: 80px;">
                        <div class="row">
                            {% for veterinaria in veterinarias %}
                            <div class="row col-md-6 col-sm-12 col-lg-3">
                                <div class="card" style="width: 98%; background-color: #27252b; border-color: #791f8f; border-width: 5px;">
                                    <img src="{{ veterinaria.nombre }}" style="width:100%" class="card-img-top center" alt="{{ veterinaria.servicios }}"/>
                                    <br>
                                    <a class="card-title text-center" style="color: white">{{ veterinaria.telefono }}</a>
                                    <br>
                                    <a class="card-title text-center" style="color: white">{{ veterinaria.direccion }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Veterinarias Section -->

        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Mascotas</h2>
                    <p>Mira las mascotas disponibles para adoptar</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-filters">
                            <li data-filter="*" href="" class="filter-active">Todo</li>
                            <li data-filter=".filter-perros">Perros</li>
                            <li data-filter=".filter-gatos">Gatos</li>
                            <li data-filter=".filter-reptiles">Reptiles</li>
                            <li data-filter=".filter-aves">Aves</li>
                            <li data-filter=".filter-peces">Peces</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="100">
                    <!-- Carnes de Vacuno -->
                    <div class="row" id="lista-productos">
                    {% for vacuno in vacunos %}
                        <div class="col-lg-3 menu-item filter-vacuno">
                            <img src="{{ vacuno.imagen.url }}" class="menu-img" alt="{{ vacuno.nombre }}">
                            <a class="menu-content">{{ vacuno.nombre }}</a>
                            <div class="menu-usos">
                                Usos: {{ vacuno.usos }}
                            </div>
                            <br>
                            <div class="menu-precio precio">Precio: $<span class="">{{ vacuno.precio }}</span></div>
                            <button class="btn btn-ttc full-width agregar-carrito"  data-id="{{ vacuno.id }}" style="margin-left: 150px;">
                                <span class="fa fa-send"></span>Añadir al Carrito
                            </button>
                            <br><br>
                        </div>
                    {% endfor %}
                    </div>

                    <!-- Carnes de Cerdo -->

                    {% for cerdo in cerdos %}
                        <div class="col-lg-3 menu-item filter-cerdo">
                            <img src="{{ cerdo.imagen.url }}" class="menu-img" alt="{{ cerdo.nombre }}">
                            <div class="menu-content">
                                <a href="#">{{ cerdo.nombre }}</a>
                            </div>
                            <div class="menu-usos">
                                Usos: {{ cerdo.usos }}
                            </div>
                            <div class="menu-precio">
                                Precio: ${{ cerdo.precio }}
                            </div>
                            <button class="btn btn-ttc full-width agregar-carrito"  data-id="{{ cerdo.id }}" style="margin-left: 150px;">
                                <span class="fa fa-send"></span>Añadir al Carrito
                            </button>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Carnes de Pollo -->

                    {% for pollo in pollos %}
                        <div class="col-lg-3 menu-item filter-pollo">
                            <img src="{{ pollo.imagen.url }}" class="menu-img" alt="{{ pollo.nombre }}">
                            <div class="menu-content">
                                <a href="#">{{ pollo.nombre }}</a>
                            </div>
                            <div class="menu-usos">
                                Usos: {{ pollo.usos }}
                            </div>
                            <div class="menu-precio">
                                Precio: ${{ pollo.precio }}
                            </div>
                            <button class="btn btn-ttc full-width agregar-carrito"  data-id="{{ pollo.id }}" style="margin-left: 150px;">
                                <span class="fa fa-send"></span>Añadir al Carrito
                            </button>
                            <br><br>
                        </div>
                    {% endfor %}

                    <!-- Carnes de Pavo -->

                    {% for pavo in pavos %}
                        <div class="col-lg-3 menu-item filter-pavo">
                            <img src="{{ pavo.imagen.url }}" class="menu-img" alt="{{ pavo.nombre }}">
                            <div class="menu-content">
                                <a href="#">{{ pavo.nombre }}</a>
                            </div>
                            <div class="menu-usos">
                                Usos: {{ pavo.usos }}
                            </div>
                            <div class="menu-precio">
                                Precio: ${{ pavo.precio }}
                            </div>
                            <button class="btn btn-ttc full-width agregar-carrito"  data-id="{{ pavo.id }}" style="margin-left: 150px;">
                                <span class="fa fa-send"></span>Añadir al Carrito
                            </button>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </section><!-- End Menu Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Galería</h2>
                    <p>Algunas fotos de trabajos realizados</p>
                </div>
                <div class="owl-carousel cuidados-carousel" data-aos="zoom-in" data-aos-delay="100">
                    {% for galeria in galerias %}
                        <div class="cuidado-item">
                            <div class="gallery-item">
                                <div class="venobox" data-gall="gallery-item">
                                    <img src="{{ galeria.imagen.url }}" alt="{{ galeria.nombre }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Gallery Section -->

        <!-- ======= Staff Section ======= -->
        <section id="cuidados" class="cuidados">
            <div class="container" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Equipo</h2>
                    <p>Equipo Profesional</p>
                </div>

                <div class="owl-carousel cuidados-carousel" data-aos="zoom-in" data-aos-delay="100">
                    {% for staff in staffs %}
                    <div class="cuidado-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ staff.frase }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{{ staff.imagen.url }}" class="cuidado-img" alt="">
                        <h3>{{ staff.nombre }} {{staff.apellido}}</h3>
                        <h4>{{ staff.profesion }}</h4>
                        <div class="social align=center">
                            <a href="{{ staff.twitter }}"><i class="icofont-twitter"></i></a>
                            <a href="{{ staff.facebook }}"><i class="icofont-facebook"></i></a>
                            <a href="{{ staff.instagram }}"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End staff Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title text-center">
                    <h2>Contacto</h2>
                    <p>Contáctanos</p>
                </div>

                <div class="row mt-3">

                    <div class="col-lg-3">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Ubicación:</h4>
                                <p>Chillán</p>
                            </div>

                            <div class="open-hours">
                                <i class="icofont-clock-time icofont-rotate-90"></i>
                                <h4>Horario:</h4>
                                <p>
                                    Jueves a Sabados:<br>
                                    15:00 PM - 00:00 AM
                                </p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>equipo@appsado.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Llámanos:</h4>
                                <p>+569 xxxxxxxx</p>
                            </div>
                        </div>
                    </div>

                    <div class="ibox-content col-md-9 align-left">
                        <form action="" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                            <div class="box-body">

                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">{% bootstrap_field aform.nombre %}</div>
                                    <div class="col-md-6">{% bootstrap_field aform.email %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{% bootstrap_field aform.asunto %}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{% bootstrap_field aform.mensaje %}</div>
                                </div>

                                <div class="box-footer full-width">
                                    <button class="btn btn-ttc full-width fa fa-send" type="submit"
                                            name="{{ aform.prefix }}">
                                        <span class="fa fa-send"></span>Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <img src="{% static 'AsadoApp/img/Asado-logo.png' %}" width="200px" height="158px">
                            <p>
                                <br>
                                Chillán, Chile<br><br>
                                <strong>Teléfono:</strong> +569xxxxxxxx<br>
                                <strong>Email:</strong> equipo@appsado.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">Acerca de nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#menu">Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:terms_conditions' %}">Terminos
                                del Servicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:privacy_policy' %}">Politica
                                de Privacidad</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:requests' %}">Trabaja con Nosotros</a></li>    
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Otros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño Web</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño Grafico</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3" data-aos="zoom-in" data-aos-delay="100">
                        <br><br><br>
                        <div class="about-img">
                            <h4 class="fadeOutLeft text-left">Descarga nuestra APP:</h4>
                            <img src="{% static 'AsadoApp/img/apps/google-play-badge.png' %}">
                            <img src="{% static 'AsadoApp/img/apps/app-store-badage.svg' %}">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>AppSado</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Diseñado por Cristián Solís
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'AsadoApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'AsadoApp/vendor/aos/aos.js' %}"></script>

    <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'Admin/js/inspinia.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'Admin/js/bootstrap-dialog.js' %}"></script>
    <script src="{% static 'Admin/js/plugins/toastr/toastr.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'AsadoApp/js/main.js' %}"></script>

    <script src="{% static 'AsadoApp/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'AsadoApp/js/popper.min.js' %}"></script>

    <!-- JavaScripts Carrito -->

    <script src="{% static 'AsadoApp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'AsadoApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'AsadoApp/js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'AsadoApp/js/carrito.js' %}"></script>
    <script src="{% static 'AsadoApp/js/pedido.js' %}"></script>

    </body>

{% endblock %}

<script>
    $(function () {
        var activePage = stripTrailingSlash(window.location.pathname);

        function stripTrailingSlash(str) {
            if (str.substr(-1) == '/') {
                return str.substr(0, str.length - 1);
            }

            return str;
        }

        var pageActivated = false;

        $('.nav li a').each(function () {
            var currentPage = stripTrailingSlash($(this).attr('href'));

            if (activePage == currentPage) {
                $(this).parent().addClass('active');

                $(this).parent().parent().parent().parent().addClass('in');
                $(this).parent().parent().parent().parent().parent().addClass('active')

                var ul = $(this).closest('ul.collapse');
                if (ul) {
                    $(ul).addClass('in');
                    $(ul).closest('li').addClass('active');
                    pageActivated = true;
                }
            }
        });

        if (!pageActivated) {
            $('.nav li a').each(function () {
                var currentPage = stripTrailingSlash($(this).attr('href'));

                if (activePage.indexOf(currentPage) !== -1) {
                    $(this).addClass('active');
                    var ul = $(this).closest('ul.collapse');

                    if (ul) {
                        $(ul).addClass('in');
                        $(ul).closest('li').addClass('active');
                    }
                }
            });
        }
    });
</script>

<script>
    function muestraReloj() {
        var fechaHora = new Date();
        var horas = fechaHora.getHours();
        var minutos = fechaHora.getMinutes();
        var segundos = fechaHora.getSeconds();

        if (horas < 10) {
            horas = '0' + horas;
        }
        if (minutos < 10) {
            minutos = '0' + minutos;
        }
        if (segundos < 10) {
            segundos = '0' + segundos;
        }
        document.getElementById("reloj").innerHTML = horas + ':' + minutos + ':' + segundos;
    }

    window.onload = function () {
        setInterval(muestraReloj, 1);
    }
</script>
{% block extrajs %}
    <script src="{% static 'AsadoApp/js/staff/index.js' %}"></script>
{% endblock extrajs%}